<div id="footer">
	<div id="footer-content">
	    <div id="footer-primary">
        <h2>Acerca de este proyecto</h2>
        <p>Este sitio web presenta datos provenientes de diversas fuentes, como el <a href="http://cps.edu">Sistema de escuelas públicas de Chicago</a>, la <a href="http://isbe.state.il.us">Junta estatal de educación de Illinois</a> y el <a href="http://uei.uchicago.edu/">Instituto de educación urbana de la Universidad de Chicago</a>. Nuestro objetivo es ayudar a las familias que tienen hijos en edad escolar, a otros residentes de Chicago y a los encargados de la elaboración de políticas, a acceder y comprender los datos que les ayudarán a tomar decisiones informadas sobre el futuro de las escuelas públicas.</p>
        <p><a href=<%= about_index_path%>> Conozca más sobre el proyecto &raquo;</a></p>
        <p><a href="http://goo.gl/LSJLx">View data used in this project &raquo;</a></p>
	    </div>
	    
	    <div id="footer-secondary">
	        <h2>Collaborators</h2>        
	        <ul class="collaborators">
	            <li><a href="http://twitter.com/JMOChicago">Jeanne Marie Olson</a>, <a href="http://cpsapples2apples.wordpress.com">Apples 2 Apples</a></li>
	            <li><a href="http://twitter.com/shua123">Josh Kalov</a>, <a href="http://cpsapples2apples.wordpress.com">Apples 2 Apples</a></li>
	            <li><a href="http://www.linkedin.com/in/ljchandler">Lincoln Chandler</a></li>
	            <li><a href="http://twitter.com/_amtamayo">Anna Marie-Tamayo</a>, <a href="http://opendatainstitute.org">Open Data Institute</a></li>
	            <li><a href="http://twitter.com/elnazem">Elnaz Moshfeghian</a>, <a href="http://opendatainstitute.org">Open Data Institute</a></li>
	            <li><a href="http://twitter.com/PaulBaker">Paul Baker</a>, <a href="http://opendatainstitute.org">Open Data Institute</a></li>
	            <li><a href="http://twitter.com/rougeux">Nick Rougeux</a>, <a href="http://opendatainstitute.org">Open Data Institute</a></li>
	        </ul>
	    </div>
	</div>
    
    <div class="clear"></div>
</div>
