<div id="footer">
	<div id="footer-content">
	    <div id="footer-primary">
        <h2>About this project</h2>
	        <p>This website presents data from several sources, including the <a href="http://cps.edu">Chicago Public Schools</a>, the <a href="http://isbe.state.il.us">Illinois State Board of Education</a>, and the <a href="http://uei.uchicago.edu/">University of Chicago Urban Education Institute</a>. Our goal is to help families with school children, other Chicago residents, and policy makers access and understand data that will help make informed decisions about the future of public schools.</p>
          <p><a href=<%= about_index_path%>> Learn more about the project &raquo;</a></p>
	        <p><a href="http://goo.gl/LSJLx">View data used in this project &raquo;</a></p>
	        <p><a href="https://github.com/amtamayo/schoolcuts">View the source code for this project &raquo;</a></p>
	    </div>
	    
	    <div id="footer-secondary">
	        <h2>Collaborators</h2>        
	        <ul class="collaborators">
	            <li><a href="http://twitter.com/JMOChicago">Jeanne Marie Olson</a>, <a href="http://cpsapples2apples.wordpress.com">Apples 2 Apples</a></li>
	            <li><a href="http://twitter.com/shua123">Josh Kalov</a>, <a href="http://cpsapples2apples.wordpress.com">Apples 2 Apples</a></li>
	            <li><a href="http://www.linkedin.com/in/ljchandler">Lincoln Chandler</a></li>
	            <li><a href="http://twitter.com/_amtamayo">Anna Marie-Tamayo</a>, <a href="http://odi-chicago.org/">Open Data Institute</a></li>
	            <li><a href="http://twitter.com/elnazem">Elnaz Moshfeghian</a>, <a href="http://odi-chicago.org/">Open Data Institute</a></li>
	            <li><a href="http://twitter.com/PaulBaker">Paul Baker</a>, <a href="http://odi-chicago.org/">Open Data Institute</a></li>
	            <li><a href="http://twitter.com/rougeux">Nick Rougeux</a>, <a href="http://odi-chicago.org/">Open Data Institute</a></li>
	        </ul>
	    </div>
	</div>
    
    <div class="clear"></div>
</div>
