<div id="intro">
    <h1><%= number_with_delimiter(@students_affected, :delimiter => ',') %> students will be affected by school closings</h1>
    <p>Chicago Public Schools (CPS) has marked <strong><%= @schools.count %> elementary schools</strong> for closure or consolidation based on utilization, performance, and community feedback. Closing a school is a very disruptive decision, affecting student outcomes, parental confidence, and neighborhood stability. In addition to showing the data being used by CPS, this website aims to help school leaders, parents, and communities learn more about the schools being closed, and what options may be available.</p>

    <div class="clear"></div>
</div>
