<div id="intro">
    <h1><%= number_with_delimiter(@students_affected, :delimiter => ',') %> estudiantes se verán afectados por los cierres de escuelas</h1>
    <p>El sistema de Escuelas Públicas de Chicago (CPS) ha marcado a <strong><%= @schools.count %> escuelas primarias</strong> para su cierre o consolidación basándose en la utilización, el desempeño y las opiniones de la comunidad. Cerrar una escuela es una decisión muy complicada, que afecta los resultados de los estudiantes, la confianza de los padres y la estabilidad del vecindario. Además de mostrar los datos que utiliza el CPS, este sitio web apunta a ayudar a los líderes de la escuela, los padres y las comunidades a saber más acerca de las escuelas que van a cerrarse y las oportunidades disponibles.</p>

    <div class="clear"></div>
</div>
