/*-------------------------+
 | Site: School closings   |
 | Part: Master stylesheet |
 +-------------------------*/


/* Imports
=====================================================================*/
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Homemade+Apple|Delius|Open+Sans:400italic,700italic,400,700,800);
@import "/styles/reset.css";


/* Fonts
======================================================================*/
body, .compare h3 { font-family: Lora, Georgia, "Times New Roman", Times, serif; }
.balloon, .compare, .essentials .title, [class *= "flag"], .legend, .levels, .mute, #perform-other li, .probation { font-family: "Open Sans", Arial, sans-serif; }
#logo { font-family: "Homemade Apple", cursive; }


/* Basics
======================================================================*/
a { color: #3b5cb2; text-decoration: none; }
a:hover { text-decoration: underline; }
body { font-size: 16px; line-height: 1.5; }
blockquote, dl, ol, p, table, ul { margin-bottom: 1em; }
cite, em { font-style: italic; }
h1 { font-size: 32px; line-height: 1.03; margin-bottom: 0.5em; }
h1, strong, h3, h4, h5, h6 { font-weight: bold; }
h2 { font-size: 27px; line-height: 1.11; margin-bottom: 0.5em; }
h3 { font-size: 23px; line-height: 1.3; margin-bottom: 0.5em; }
h4 { font-size: 20px; }
hr { background: #ddd; border: 0; clear: both; color: #ddd; height: 1px; margin: 1em 0; }
ol { list-style: decimal; margin-left: 2em; }
li { margin-bottom: 0.5em; }
ul { list-style: disc; margin-left: 2em; }

.l { float: left; }
.r { float: right; }


/* Layout
======================================================================*/
.clear { clear: both; }
.content { padding: 0 30px 40px; }
.content, #footer-content, #header-content, #nav-content { margin: 0 auto; width: 980px; }
.static { width: 66%; }

/* Columns */
.c2l, .c2r { width: 48%; }
.c2l, .c3l, .c3m { float: left; }
.c2r, .c3r { float: right; }
.c3l { margin-right: 3%; }
.c3l, .c3m, .c3r { width: 31%; }


/* Content
======================================================================*/

/* Action links */
.action {
    background: #3b5cb2;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    padding: 0.3em 1em;
}

/* Charts */
[class *= 'chart'] { margin-bottom: 20px; }
#demographic-chart { height: 100px; }
#race-chart { height: 275px; }

	/* 5Essentials */
	.essentials { height: 220px; margin-bottom: 15px; position: relative; }
	.essentials .category { background: #ddd; border: 8px solid #fff; height: 45%; position: absolute; width: 45%; }
	.essentials .title { display: block; font-size: 13px; line-height: 1.3; position: absolute; width: 80%; }
	.essentials .status { display: none; }
	.essentials-charts h4 { text-align: center; }
	
		/* Categories */
		.essentials .environment { bottom: 0; left: 0; }
		.essentials .environment .title { bottom: 10px; left: 10px; }
		.essentials .families { bottom: 0; right: 0; text-align: right; }
		.essentials .families .title { bottom: 10px; right: 10px; }
		.essentials .instruction { border-radius: 300px; left: 53px; text-align: center; top: 53px; z-index: 1000; }
		.essentials .instruction .title { margin: 0 auto; padding-top: 33px; position: static; }
		.essentials .leaders { left: 0; top: 0; }
		.essentials .leaders .title { left: 10px; top: 10px }
		.essentials .teachers { right: 0; text-align: right; top: 0; }
		.essentials .teachers .title { right: 10px; top: 10px; }
		
		/* Colors */
		.essentials .very-strong { background: #488714; }
		.essentials .strong { background: #77a161; }
		.essentials .neutral { background: #ebcc71; }
		.essentials .weak { background: #cf7e53; }
		.essentials .very-weak { background: #9e241d; color: #fff; }
		
		/* Legend */
		.essentials-charts .legend strong { display: inline-block; height: 10px; width: 10px; }
	
	/* Levels */
	.level1 { background: #488714; }
	.level2 { background: #ebcc71; }
	.level3 { background: #9e241d; }
	.levels .blank { background: #ccc; }
	.levels li { color: #fff; float: left; margin: 0 3px 5px 0; padding: 7px 10px; }
	.levels .mute { clear: both; text-align: center; }
	.levels ol { line-height: 1.1; list-style: none; margin: 0 auto; text-align: center; text-transform: uppercase; width: 50%; }
	.levels span { font-size: 36px; font-weight: 800; }
	.levels strong { display: block; font-size: 18px; }
	
	/* Probation */
	.probation { font-size: 11px; list-style: none; margin-left: 0; text-align: center; }
	.probation li { color: #666; float: left; margin-bottom: 20px; width: 5.7%; }
	.probation li.no { color: #77a161; }
	.probation li.yes { color: #9e241d; }
	.probation span { display: block; }
	.probation .status { font-size: 12px; font-weight: bold; text-transform: uppercase; }
	
	/* Utilization */
	.homeroom { margin: 0 auto 20px; width: 120px; }
	.homeroom .enrollment { font-size: 19px; line-height: 1.2; position: absolute; left: 5px; text-align: left; top: 5px; }
	.homeroom .enrollment i { margin-right: 3px; }
	.homeroom .ideal { border: 1px solid #ccc; height: 80px; padding: 10px; position: relative; }
	.homeroom .overflow { font-size: 19px; line-height: 1.2; text-align: left; padding: 5px; }
	.homeroom .overflow i { margin-right: 7px; }
	#utilization { text-align: center; }
	#utilization .title { font-style: italic; font-weight: bold; margin: 0; text-transform: uppercase; }
	
		/* Status */
		#utilization.underutilized .enrollment, #utilization.underutilized .overflow, #utilization.underutilized .title { color: #9e241d; }
		#utilization.overcrowded .enrollment, #utilization.overcrowded .overflow, #utilization.overcrowded .title { color: #9e241d; }
		

/* Compare */
.compare { font-size: 14px; list-style: none; margin: 0; }
.compare dt { font-weight: bold; margin-top: 1em; }
.compare li { float: left; margin: 0 2.5% 30px 0; width: 22.9%; }
.compare li:nth-child(4n+4), .compare li.end { margin-right: 0; }
.compare .school { border: 1px solid #ccc; border-radius: 5px; height: 590px; padding: 15px; }
.compare .selected .school { background: #f0f0f0; border-color: #3b5cb2; }
    
    /* 5Essentials */
    .compare .essentials { height: 190px; }
    .compare .essentials .instruction { left: 46px; top: 46px; }
    .compare .essentials .instruction .title { padding-top: 31px; }
    .compare .essentials .category { border-width: 4px; height: 47%; width: 47%; }
    .compare .essentials .title { font-size: 12px; }
    
    /* ISAT */
    .compare .isat { height: 160px; margin-bottom: 5px; }
    
    /* Levels */
    .compare [class *= "level"] { color: #fff; float: left; line-height: 1.1; margin: 4px 8px 0 0; padding: 3px 6px; text-align: center; text-transform: uppercase; }
    .compare [class *= "level"] span { font-size: 20px; font-weight: 800; }
    .compare [class *= "level"] strong { display: block; font-size: 10px; }
    
    /* Performance */
    .compare .icon-check-empty { color: #777; }

/* Datasets */
.dataset { border-bottom: 1px solid #ddd; margin-bottom: 20px; padding-bottom: 20px; }

/* Evaluation metrics */
#evaluation { margin-top: 30px; }
#evaluation .c2r { border-left: 1px solid #ddd; padding-left: 2%; width: 48%; }
#evaluation h2, #evaluation h3 { text-align: center; }
#evaluation h3 { font-style: italic; font-weight: bold; }

/* Examples */
.examples dd, .examples dt { padding-left: 168px; }
.examples dt { clear: both; font-weight: bold; padding-top: 20px; }
.examples dt:first-child { padding-top: 0; }
.examples img { border: 1px solid #ddd; float: left; margin: 6px 0 0 -168px; }
.examples p { margin-bottom: 0.5em; }

/* Flags */
[class *= "flag"] {
    background: #ccc;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    padding: 0.3em 0.5em;
    text-transform: uppercase;
    vertical-align: middle;
}

.flag-considered-but-not-closing { background: #ebcc71; }
.flag-closing { background: #852d2f; }
.flag-turnaround { background: #978d81; }
.flag-relocating { background: #e4cfb3; }
.flag-co-locating { background: #cf7e53; }
.flag-closing-grades-9-to-11 { background: #a76459; }
.flag-phasing-out-over-2-years { background: #c3aba1; }
.flag-not-considered-but-will-be-turnaround { background: #9aacae; }
.flag-receiving { background: #506880; }

	h1 [class *= "flag"] { font-size: 16px; }

/* Filtering */
.school-filters { list-style: none; margin: 2.5em 0 2em; }
.school-filters [class *= "flag"] { border: 2px solid #fff; }
.school-filters [class *= "flag"].selected { border-color: #000; }
.school-filters li { display: inline; margin-right: 1em; }

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/* Footer */
#footer { background: #f0f0f0; border-top: 1px solid #ddd; padding: 30px; }
#footer-primary { float: left; width: 65.68%; }
#footer-secondary { float: right; width: 31.29%; }
.collaborators { list-style: none; margin: 0; }
.collaborators li { margin: 0; }

/* Header */
#header { background: #3B653D; padding: 30px 30px 10px; }
#logo { float: left; font-size: 40px; }
#logo a { color: #fff; }
#logo a:hover { text-decoration: none; }
#logo i { font-size: 43px; margin-right: 0.3em; opacity: 0.8; }
#sharing { float: right; }

/* Icons */
.icon-check { color: #488714; }

/* Intro */
#intro {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	font-size: 19px;
	margin-bottom: 40px;
	padding: 30px 30px 10px;
}

#intro [class *= "c3"] { text-align: center; }
#intro p:last-child { margin-bottom: 0; }

/* Legends */
.legend { clear: both; font-size: 12px; list-style: none; margin: 0 0 0.5em; }
.legend li { display: inline; margin-right: 1em; }

/* Map */
#map { border: 1px solid #ddd; margin-bottom: 20px; height: 450px; }

	/* Balloons */
	.balloon { font-size: 14px; }
	.balloon h3 { font-size: 16px; margin: 0; }
	.balloon li { margin: 0; }
	.balloon p { margin-bottom: 0.5em; }
	.balloon ul { list-style: none; margin: 0; }

/* Muted text */
.mute { color: #555; font-size: 13px; }

/* Navigation */
#nav { background: #f0f0f0; font-size: 20px; margin-bottom: 30px; padding: 10px 30px; }
#nav li { display: inline; margin: 0 0.9em 0 0; }
#nav li.current a { color: #000; font-weight: bold; }
#nav ul { float: left; list-style: none; margin: 0; }
#nav ul.nav-extras { float: right; font-size: 16px; }

/* Performance */
#perform { margin-bottom: 20px; text-align: center; }
#perform-level { border: 2px solid #ccc; border-radius: 5px; float: left; height: 230px; margin-right: 3.06%; padding: 15px 10px; width: 28.21%; }
#perform-level .levels ol { width: 55%; }
#perform-or { float: left; font-size: 24px; padding-top: 80px; text-transform: uppercase; width: 3.52%; }
#perform-other { border: 2px solid #ccc; border-radius: 5px; float: right; height: 230px; padding: 15px 10px; width: 57.53%; }
#perform-other, #perform-other h4 { font-size: 13px; }
#perform-other li { float: left; margin: 0 2% 10px 0; width: 23%; }
#perform-other p { margin: 0; }
#perform-other ul { list-style: none; margin: 0; }

/* School list */
.schools li { margin: 0 0 0.25em; width: 245px; }
.schools ol { height: 950px; list-style: none; margin-left: 0; }

/* School profile */
#profile-primary { float: left; margin-bottom: 30px; width: 65.68%; }
#profile-primary .legend { clear: none; }
#profile-primary .c2l .legend li { display: block; margin-bottom: 1em; padding-left: 28px; }
#profile-primary .c2l .legend li img { float: left; margin: -2px 0 0 -28px; }
#profile-primary .c2r .legend { text-align: right; }
#profile-primary .c2r .legend li { display: inline; margin-left: 1em; }
#profile-secondary { float: right; margin-bottom: 30px; width: 31.29%; }


/* new */
.question .yes { color: green }
.question .no { color: red }

