<div id="content">

	<div id="intro">
		<h1><%= link_to 'Home', root_url %> &raquo; About</h1>
	</div>
	
	<p>This project is a partnership between the CPS Apples to Apples Project (a collaboration with Illinois Raise Your Hand), the Open Data Institute, and talented individuals interested in Open Government Data and public education brought together by the Data Potluck Group organized by Chicago civic startup Open City.  It is just one example of many in Chicago demonstrating the innovation possible when passionate citizens unite together to make more data available for public discourse and community engagement.</p>
	
	<h2>About the data</h2>
	
		<h3>5Essentials trends</h3>
		<p>The University of Chicago identified 5 Essential elements common to “successful” schools: Effective Leaders, Collaborative Teachers, Involved Families, Supportive Environment, and Ambitious Instruction. Schools that have better scores for the majority of these elements are thought to be better set-up for success.</p>
		
			<h4>Why this data is significant</h4>
			<p>This is one of the very few pieces of data that CPS collects from parents, students and teachers that help to understand how those groups believe a school is performing on factors other than a standardized test.  The ratings on individual survey questions is more helpful in understanding how community members feel about a school than the aggregated scores, so be sure to look at the specific data for a school at the 5 Essentials site.</p>
			
			<h4>How is this data collected?</h4>
			<p>Through a yearly survey given to teachers, parents and students and analyzed by a team at the University of Chicago.</p>
			
			<h4>Limitations of this data</h4>
			<p>The data is not based on observation, but self-reported by different community members who may/may not understand the intent of the questions or have a common understanding of what better school environments look/feel/sound like. The diversity of perceptions/assumptions can make this data difficult to compare between schools.  Results may not be as useful when a school has lower participation in taking the survey.  Events that happen around the time that the survey is taken can potentially affect the results.  Still, as a reflection of school community engagement, it provides richer data to consider than quantitative data. </p>
	
		<h3>ISAT cohort trends</h3>
		<p>Looking at ISAT Cohort Trends helps to identify the changes in the testing focuses on a single class of students, and follows their progress in Math and Reading from 3rd grade through 8th grade. Although students do transfer in and out over time, when the progress of a cohort tracks positively, the metric can be used to indicate which schools should be examined more closely for better cohort progress than the school’s ISAT composite would indicate. They also help to reveal which school communities begin at a testing disadvantage and improve over time, when lower initial scores can negatively skew ISAT Composite numbers.</p>
			
			<h4>Why this data is significant?</h4>
			<p>It provides a different look at the ISAT data over time, for specific academic testing areas (reading, math, science)  and connected to a specific generation of students that may provide opportunities to have a discussion around and better understand what has contributed to a school’s ISAT Composite score. It allows for recognition of the different “starting points” of more schools with higher at-risk populations.</p>
			
			<h4>How is this data collected?</h4>
			<p>This data is collected by CPS from ISAT testing data provided for each student at a school from the date that they are tested. It is not known by this team whether or not specific student data follows students to their new school if they move within district, or is not included in the composite if they leave the school or district.</p>
			
			<h4>Limitations of this data</h4>
			<p>Other than the usual limitations of any standardized testing data (that it tests a few variables out of many in a learning environment), higher mobility rates can undermine the predictability of ISAT Cohort data. However, improvement in the cohort over time is more likely to be favorable for neighborhood schools because it being unlikely that higher achieving students are moving into the neighborhood school in the later grades. Decreasing ISAT scores in the later grades could be attributed to many things, some within and not within the control of the teachers/school (i.e., quality of instruction, teacher turnover, higher achieving students leaving for early SEHS admission, less emphasis in some years on standardized testing in order to address other learning issues). Changes in the difficulty or grading of ISAT items or sections can also affect scores in different testing years.  For information about the advantages and disadvantages of standardized testing, <a href="http://www.uknow.gse.harvard.edu/decisions/DD315-608.html">consider the research of Daniel Koretz</a>.</p>
	
		<h3>Mobility rate</h3>
		<p>Mobility rates measure the percentage of students moving into or out of a school at times other than the beginning or end of a school year.  Some of these students might move to other schools within the district, while others may be moving in or out of the District. </p>
			
			<h4>Why this data is significant?</h4>
			<p>When a school’s mobility rate is very high, it is usually harder to predict school quality from student performance. If many students are moving in and out of the classroom during the year, it creates more challenges for staffing, slows down the pace of learning for all students in the classroom, and affects high-risk students more than other students. Students who are “frequent movers” (moving schools four times or more before 6th grade) are shown by research to be up to a year behind their peers.</p>
			
			<h4>How is this data collected?</h4>
			<p>Beginning with the first school day in October and continuing through the last day of the regular school year, CPS collects the count of students who transfer-in and transfer-out of the school.  A transfer-in is each instance in which a student is added to the enrollment roster of the school.  A transfer-out is each instance in which a student is removed from the  enrollment roster of the school for whatever reason.  The formula use to calculate the mobility is as follows:  (A+B)/C)*100 = Mobility Rate where A=Transfers-In, B=Transfers_out, C=Average Daily Enrollment</p>
			
			<h4>Limitations of this data</h4>
			<p>The overall measure of mobility doesn’t specify which students left or arrived, where they came from or where they are going, which grades/classrooms were most affected, and so on. It also does not specify if any of the students involved in the mobility rating are “frequent movers” who have been shown by research to be more likely to experience delayed academic performance.</p>
			
		<h3>Probation Status</h3>
		<p>Schools that score under a point threshold for Performance Policy calculations are placed on academic probation, which then trigger various interventions from the District to try and improve performance. </p>
			
			<h4>Why this data is significant?</h4>
			<p>Schools which are on probation are examined very closely in detail and often required to make changes in their school budgets, their school improvement plans (CIWP), curriculum, and other improvements. Some may be subject to school turnaround, principal removal, or school closing. Schools must improve and sustain improvement to be removed from probation.</p>
			
			<h4>How is this data collected?</h4>
			<p>For Elementary Schools, the Performance Calculation is determined from a combination of ISAT Composite and Subject scores and trends, Attendance Rates, and Value-added scores for reading and mathematics. For High Schools, the Calculation is determined from  ACT scores (a standardized test for high school achievement and college readiness), the One-Year Drop Out rate (a one-year snapshot of all students who drop out of school during one school year), the Freshman On-Track rate (review of credits and grades from first year of high school), percentages related to the different PSAE subjects (Prairie State Achievement Exam), Attendance Rate, Advanced Placement Classes Enrollment and Success, and EPAS Gains (measuring high school progress and college readiness) in Reading and Mathematics.
	</p>
			
			<h4>Limitations of this data</h4>
			<p>The limitations are similar to those of other measures that rely heavily on standardized testing data and, even though the inclusion of the Value-Added measures attempts to compensate for differences in demographics and mobility rates, there has been enough valid criticism of Value-Added measures to doubt their usefulness in making high stakes decisions, such as school closings. (See <a href="http://annenberginstitute.org/publication/can-teachers-be-evaluated-their-students%E2%80%99-test-scores-should-they-be-use-value-added-mea">Corcoran, 2010</a>)</p>
	
		<h3>Enrollment Trends, including Special Education Students</h3>
		<p>Enrollment trends of all students and specific sub-groups show the specific needs and constraints of school communities. Increasing or decreasing enrollment is considered by CPS to reflect the value of a school to District parents.</p>
			
			<h4>Why this data is significant?</h4>
			<p>Increasing or decreasing enrollment is considered by CPS to reflect the value of a school to District parents. Significant changes in enrollment over time may cause the District to evaluate the number of school facilities available to the population of school-aged children in proximity of the school, and may also trigger the redrawing of neighborhood school boundaries. Information about sub-groups such as special education (IEP), limited English proficiency (LEP), and Kindergarten students will influence the use of space within schools due to the requirements of these programs.</p>
			
			<h4>How is this data collected?</h4>
			<p>Student population and demographic data is reported to Central Office by each school for the 20th day of school each year.</p>
			
			<h4>Limitations of this data</h4>
			<p>Unlike schools with one enrollment period per year (Charter, Magnet, and Selective Enrollment schools), Neighborhood Attendance Area schools must accept students throughout the year if required and cannot easily predict their enrollment in each grade throughout the year. The 20th Day count may not reflect actual enrollment or needs for space for attendance area schools.</p>
	
	<h3>Acknowledgements</h3>
	<p>IL Raise Your Hand
	<br />Forest Gregg, Open Data Institute
	<br />Open City, specifically Derek Eder</p>
	
	<h3>Section title goes here</h3>
	<p>Text</p>

</div>