<div class="content">

	<div class="static">
		<h1>Acerca de</h1>
		
		<h2>Sitio web</h2>
		<p>Este sitio web fue creado para compartir información sobre las 129 escuelas cuyo cierre está siendo analizado. Para cada escuela hay información demográfica sobre los estudiantes, mediciones relacionadas con la calidad, estabilidad y capacidad de la escuela. También se muestra información acerca de otras escuelas de la zona, para ayudar a las familias a planificar en caso de que su escuela actual cierre. </p>
		
		<h2>Datos</h2>
		<p>Elegimos datos según su disponibilidad y su relación con las cosas que pueden afectar la utilización o calidad de la escuela, o ambas. Como sucede con la mayoría de las mediciones, existen limitaciones con respecto a los datos y otras mediciones que podría valer la pena considerar.</p>
		<p>Este sitio web presenta datos provenientes de diversas fuentes, como el <a href="http://cps.edu">Sistema de escuelas públicas de Chicago</a>, la <a href="http://isbe.state.il.us">Junta estatal de educación de Illinois</a>, y el <a href="http://uei.uchicago.edu/">Instituto de educación urbana de la Universidad de Chicago</a>.</p> 
		<p>It took the SchoolCuts team many hours to pull the data together; to spare others the work, we are posting it in a <a href="http://goo.gl/LSJLx">Google spreadsheet</a>.</p>
			
		<h2>Tecnología</h2>	
		<p>Este sitio fue diseñado y creado usando <a href="http://rubyonrails.org/">Ruby on Rails</a>, una base de datos de <a href="http://www.postgresql.org/">PostgreSQL</a>, <a href="http://tables.googlelabs.com">Google Fusion Tables</a>, y <a href="http://www.highcharts.com/">Highcharts</a>.</p>
		
		<h2>Equipo</h2>
		<p>Este proyecto es una iniciativa voluntaria organizada  por un grupo de ciudadanos de Chicago que sienten pasión por la educación y que representan al proyecto <a href="http://cpsapples2apples.wordpress.com">CPS Apples to Apples</a> (en colaboración con <a href="http://ilraiseyourhand.org/">Illinois Raise Your Hand</a>), y el <a href="http://odi-chicago.org">Open Data Institute</a>.</p>
		
		<h2>Reconocimientos</h2>
		<p><a href="http://ilraiseyourhand.org/">Illinois Raise Your Hand</a>
		<br /><a href="http://odi-chicago.org/#forest">Forest Gregg</a>, <a href="http://odi-chicago.org">Open Data Institute</a>
		<br /><a href="http://about.me/pry">Chad W Pry</a>
		<br /><a href="http://opencityapps.org">Open City</a>
		<br /><a href="http://multilingualconnections.com">Multilingual Connections</a>
		<br /><a href="https://github.com/emirose">Emily Rosengren</a>
		<br /><a href="https://github.com/arbylee">Richard Lee</a>
		<br /><a href="http://vizify.com/BrianKung">Brian Kung</a></p>
	</div>

</div>
