<div id="content">

	<div id="intro">
		<h1><%= link_to 'Home', root_url %> &raquo; About</h1>
	</div>
	
	
	<h3>About this website</h3>

	<p>This website was created to share information with parents and communities about the 129 schools under consideration to be closed. For each of the schools, there is information about the student body and staff, as well as measures of school quality, school stability, and school capacity. There is also information on other schools in the area to help families plan in the event that their current school does close. 	</p>
	
	<h3>About the data</h3>
	
	<p>All of the data on this website is available to the general public. We chose these metrics because of their availability, and because we believe that they relate to things that can affect school’s utilization, or quality, or both. As with most metrics, there are limitations to the data and there may be other measures worth consideration.</p>
	
	<p>This website presents data from several sources, including the Chicago Public Schools, the Illinois State Board of Education, and the University of Chicago. For each metric, there are links to the original data source. </p>
	
	<h3>About the technology</h3>
	
	<p>For the techies</p>
	
	<h3>About the team</h3>
	This project is a joint, volunteer effort put together by a group of Chicagoans passionate about education. The main groups represented are: 
	<br />The CPS Apples to Apples Project (in collaboration with Illinois Raise Your Hand)
	<br />The Open Data Institute
	
	<p>The collaboration came about in February 2013 during an event organized by Open City, a group of developers and designers based in Chicago that build civic-minded apps using publicly available, or “open”, data.</p>
	
	<h3>Acknowledgements</h3>
	<p>IL Raise Your Hand
	<br />Webitects
	<br />Forest Gregg, Open Data Institute
	<br />Open City, specifically Derek Eder</p>
	

</div>