<div class="content">

	<div id="intro">
		<h1><%= link_to 'Home', root_url %> &raquo; About</h1>
	</div>
	
	<div class="static">
		<h2>Website</h2>
		<p>This website was created to share information about the 129 schools under consideration for closing. For each school, there is demographic information about the student body, measures of school quality, stability, and capacity. Information about other schools in the area is also shown, to help families plan should their current school close. </p>
		
		<h2>Data</h2>
		<p>We chose data because of availability, and how they relate to things that can affect school utilization, or quality, or both. As with most metrics, there are limitations to the data and other measures may be worth considering.</p>
		<p>This website presents data from several sources, including the <a href="http://cps.edu">Chicago Public Schools</a>, the <a href="http://isbe.state.il.us">Illinois State Board of Education</a>, and the <a href="http://uei.uchicago.edu/">University of Chicago Urban Education Institute</a>.</p>
			
		<h2>Technology</h2>	
		<p>This site was designed and built using <a href="http://rubyonrails.org/">Ruby on Rails</a>, a <a href="http://www.postgresql.org/">PostgreSQL</a> database, <a href="http://tables.googlelabs.com">Google Fusion Tables</a>, and <a href="http://www.highcharts.com/">Highcharts</a>.</p>
		
		<h2>Team</h2>
		<p>This project is a volunteer effort put together by a group of Chicagoans passionate about education, representing <a href="http://cpsapples2apples.wordpress.com">CPS Apples to Apples</a> (in collaboration with <a href="http://ilraiseyourhand.org/">Illinois Raise Your Hand</a>), and the <a href="http://opendatainstitute.org">Open Data Institute</a>.</p>
		
		<h2>Acknowledgements</h2>
		<p><a href="http://ilraiseyourhand.org/">Illinois Raise Your Hand</a>
		<br /><a href="http://opendatainstitute.org/#forest">Forest Gregg</a>, <a href="http://opendatainstitute.org">Open Data Institute</a>
		<br /><a href="http://twitter.com/chadwpry">Chad Pry</a>
		<br /><a href="http://opencityapps.org">Open City</a>, specifically Derek Eder</p>
	</div>

</div>