<div id="content">

	<div id="intro">
		<h1><%= link_to 'Home', root_url %> &raquo; About</h1>
	</div>
	
	
	<h3>About this website</h3>
	<p>This website was created to share information with parents and communities about the 129 schools under consideration for closing. For each school that might be closed, there is information about the student body, as well as measures of school quality, school stability, and school capacity. There is also information on other schools in the area to help families plan in the event that their current school does close. </p>
	
	<h3>About the data</h3>
	<p>All of the data on this website is available to the general public. We chose these metrics because of their availability, and because we believe that they relate to things that can affect school’s utilization, or quality, or both. As with most metrics, there are limitations to the data and there may be other measures worth consideration.</p>
	<p>This website presents data from several sources, including the <a href="http://cps.edu">Chicago Public Schools</a>, the <a href="http://isbe.state.il.us">Illinois State Board of Education</a>, and the <a href="http://uei.uchicago.edu/">University of Chicago Urban Education Institute</a>.</p>
		
	<h3>About the technology</h3>	
	<p>This site was built with Ruby on Rails and uses a Postgres database.</p>
	
	<h3>About the team</h3>
	<p>This project is a joint, volunteer effort put together by a group of Chicagoans passionate about education. The main groups represented are the <a href="http://cpsapples2apples.wordpress.com">CPS Apples to Apples Project</a> (in collaboration with <a href="http://http://ilraiseyourhand.org/">Illinois Raise Your Hand</a>), and the <a href="http://opendatainstitute.org">Open Data Institute</a>.</p>
	<p>The team first met in February 2013 at an Open City Open Government Hack Night&mdash;where a group of Chicago-based developers meet weekly to build civic-minded apps using publicly available data.</p>
	
	<h3>Acknowledgements</h3>
	<p>IL Raise Your Hand
	<br />Webitects
	<br />Forest Gregg, Open Data Institute
	<br />Open City, specifically Derek Eder</p>
	

</div>